@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/* --- Header --- */
.header__container {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__container h1 {
  font-weight: 300;
  font-size: 55px;
}

/* --- Dropdown menu ---  */
.products__dropdownButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: white;
  padding: 26px;
  font-size: large;
  cursor: pointer;
}
.products__dropdownIcon {
  width: 30px;
  height: auto;
  margin-left: 50px;
}

.products__dropdownButton:focus {
  background-color: white;
}

.products__dropdownContainer {
  position: relative;
  display: inline-block;
}

.products__dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}

.products__dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.products__dropdownContainer a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


/* --- Products result --- */
.products__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.products__image {
  width: 100%;
  height: auto;
}

.product__card {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.product__price,
.products__name {
  margin-top: 10px;
}

.button__viewMore {
  margin-top: 15px;
  padding: 10px 45px 10px 45px;
  text-decoration: none;
  color: #fff;
  background-color: #e0aab9;
}

.button__viewMore:hover {
  color: black;
}
